@use 'design-tokens';

html {
  min-width: 20rem;
  min-height: 100%;
  color: var(--fg-text-primary);
  background: var(--fg-surface-page);
  font-family: var(--fg-font-sans);
  font-size: 16px;
}

body {
  min-height: 100%;
  margin: 0;
  font: var(--fg-type-body-md);
}
